* {
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 8em;
  padding-top: 1.8em;
  background: #f2f2f2;
}
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 0 1 50%;
}
.buttons,.display{
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 100%;
}
.display {
  padding-top: .1em;
  height: 2.3em;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.4em;
  background: #d9d9d9;
  color: #ff00bf;
  padding-right: 0.4em;
  border-radius: 10px;
  margin-bottom: .1em;
  border: 5px inset #cccccc;
}
.button {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 25%;
  align-items: center;
  justify-content: center;
  height: 2.8em;
  color: white;
  border: 5px outset #99ddff;
  background: #33cccc;
  font-size: 1.5em;
  padding-top: 0em;
  border-radius: 10px;
  margin-bottom: .1em;
  cursor: pointer;
}
.button:active {
 color: grey;
 background:#004466;
 border: 5px inset #0077b3;
}
.buttDiv {
  padding: 0;
  height: 0;
  width:0;
  border: none;
}
.clear {
  background: #ff3300 ;
  border: 5px outset #ff704d;
}
.clear:active {
  background: #cc2900;
  border: 5px inset #b32400;
}
